<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.CategoryDAO-mapper">
<insert id="insert" parameterType="CategoryVO">	
	INSERT INTO category (category_num, title, owner_num) 
	VALUES(CATEGORY_SEQUENCE.nextval,#{title},#{ownerNum})
	<selectKey resultType="long" order="AFTER" keyProperty="categoryNum">
		SELECT CATEGORY_SEQUENCE.currval FROM dual	
<!-- 		SELECT CATEGORY_SEQUENCE.currval, cateogry_num, MAX(category_num), created_at FROM category WHERE   	 -->

	</selectKey>
	
</insert >

<select id="selectOneCateogry" parameterType="long" resultType="CategoryVO">
	SELECT 
		TITLE,
	    CATEGORY_NUM AS "categoryNum",
	    OWNER_NUM AS "ownerNum",
	    CREATEd_AT AS "createdAt",
	    updated_at AS "updatedAt",
	    (SELECT COUNT(note_num)
		FROM note
		WHERE note.category_num = category.category_num) as "noteCount"
	FROM category
	WHERE CATEGORY_NUM = #{categoryNum}
</select>

<select id="loadUsersAllCateogries" parameterType="long" resultType="CategoryVO">
	SELECT 
	    TITLE,
	    CATEGORY_NUM AS "categoryNum",
	    OWNER_NUM AS "ownerNum",
	    CREATEd_AT AS "createdAt",
	    updated_at AS "updatedAt",
	    (SELECT COUNT(note_num)
		FROM note
		WHERE note.category_num = category.category_num) as "noteCount"
	FROM category
	WHERE OWNER_NUM = #{ownerNum}
</select>


<update id="modify" parameterType="CategoryVO">
	UPDATE category 
	SET title = #{title},
	    category_num = #{categoryNum},
	    owner_num = #{ownerNum},
	    updated_at = SYSTIMESTAMP     
	WHERE
	    category_num = #{categoryNum}
</update>
<delete id="delete" parameterType="long">
	DELETE
	FROM category
	WHERE category_num = #{categoryNum}	
</delete>




</mapper>