<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.Tagging-mapper">

	<!-- Create -->
	<insert id="insertNewTag" parameterType="TagVO">
		INSERT INTO tag
		(tag_num, word)
		VALUES (TAG_SEQUENCE.nextval, #{word})
		<selectKey keyProperty="tagNum" resultType="long" order="AFTER">
		SELECT 
			TAG_SEQUENCE.currval AS "tagNum"
		FROM 
			dual
		</selectKey>
	</insert>


	<insert id="insertNewTagging" parameterType="TagVO">
		INSERT INTO tagging
		(tag_num, note_num)
		VALUES (#{tag.tagNum},#{note.noteNum} )
	</insert>


	<!-- Read -->
	<select id="selectTags" parameterType="map" resultType="TagVO">
		SELECT
		tag.word AS word,
		tag.tag_num AS "tagNum"
		FROM tag, tagging
		WHERE tag.tag_num = tagging.tag_num
		AND tag.word like '%' || #{keyword} || '%'
		<if test="userNum != null">
			AND tagging.user_num == #{userNum}
		</if>
	</select>
	<select id="selectAllTaggings" parameterType="long"
		resultType="TaggingVO">
		SELECT
		tag.word AS "tag.word",
		tag.tag_num AS "tag.tagNum",
		note.note_num AS "note.noteNum"
		FROM tag, tagging, note
		WHERE tag.tag_num = tagging.tag_num
		AND tagging.note_num = note.note_num
		AND note.note_num = #{noteNum}
	</select>
	<select id="selectAllUsersTaggings" parameterType="long"
		resultType="TaggingVO">
		SELECT
		tag.word AS "tag.word",
		tag.tag_num AS "tag.tagNum",
		note.note_num AS "note.noteNum"
		FROM tag, tagging, note
		WHERE tag.tag_num = tagging.tag_num
		AND tagging.note_num = note.note_num
		AND note.user_num = #{userNum}
	</select>

	<select id="selectTag">
		SELECT
		tag.word AS "word",
		tag.tag_num AS "tagNum",
		FROM tag
		WHERE
		<if test="word != null">
			word = #{word}
		</if>
		<if test="tagNum != null">
			tag_num = #{tagNum}
		</if>

	</select>
	
	
	
	

	<!-- Delete -->
	<delete id="deleteTagging">
		DELETE
		FROM tagging
		WHERE note_num = #{noteNum}
		AND tag_num = #{tagNum}
	</delete>
	<delete id="deleteTag">
		DELETE
		FROM tag
		WHERE
		<if test="word != null">
			word = #{word}
		</if>
		<if test="tagNum != null">
			tag_num = #{tagNum}
		</if>
	</delete>
	
</mapper>